<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!--
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cantarell&subset=latin' rel='stylesheet' type='text/css'>
    -->

    <link rel="stylesheet" href="/www/css/base.css">
    <link rel="stylesheet" href="/www/css/style.css">

    <link rel="shortcut icon" href="/www/images/favicon.ico">
    <script src="/www/js/json2.js"></script>
    <script src="/www/js/jquery.js"></script>
    <!--
    <script src="www/js/jquery-ui.js"></script>
    -->
    <script src="/www/js/script.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="inner-header">
        <a href="/sets">sets</a> |
        <a href="/attributes">attributes</a> |
        <a href="/dropbox">dropbox</a> |
        <a href="/notes">notes</a>

        <h1><a href="/">SimpleRepository</a></h1>

        <div id="login">
          {% if user %}
          <span class="item nickname">{{ user.nickname() }}</span> |
          <span class="item"><a href="{{ logout_url }}">Sign out</a></span>
          {% else %}
          <span class="item"><a href="{{ login_url }}">Sign in</a></span>
          {% endif %}
        </div>

        <form action="search" method="GET">
          <input type="text" name="q">
          <input type="submit" name="submit" value="search"> 
        </form>

        <div class="clear"></div>
      </div>
    </div>

    <div id="container">
      <div id="topcontent">
        {% block topcontent %}{% endblock %}
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
