{% extends "base.html" %}

{% block content %}
<h1>{{ c.name }}</h1>
<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  <label for="file">Upload File:</label>
  <input type="hidden" name="coll_ascii" value="{{ c.ascii_id }}">
  <input type="file" name="file">
  <input type="submit" name="submit" value="Submit"> 
</form>

<ul class="grid">
{% for item in items %}
<li>
<a href="/item/{{ item.key().id() }}"><img src="{{ item.thumbnail_link }}"></a>
<h4>{{ item.media_filename }}</h4>
</li>
{% endfor %}
</ul>

{% endblock %}
