{% extends "base.html" %}

{% block content %}

<h2>My Notes</h2>
<ul id="notes">
{% for note in notes %}
<li>{{ note.text }} <a href="note/{{ note.key().id() }}" class="delete">[delete]</a></li>
{% endfor %}
</ul>
<h5><a href='javascript:(function(){text=prompt("note");form=document.createElement("form");form.setAttribute("method","post");form.setAttribute("action","{{ request.uri.server_uri() }}/notes");hiddenField=document.createElement("input");hiddenField.setAttribute("type", "hidden");hiddenField.setAttribute("name","text");hiddenField.setAttribute("value",text);form.appendChild(hiddenField);document.body.appendChild(form);form.submit();alert("note has been posted");})();'>Post a Note</a></h5>
{% endblock %}
