body {
	/*
	font-family: "Georgia", serif;
	*/
	font-family: "Cantarell", sans-serif;
	background-color: #fff;
	border-top: 0px solid #003;
}

div#login {
  padding: 2px 8px;
  margin: 0;
}

div#container {
	margin: 20px auto;
	width: 800px;
}

div#header {
	background-color: #fff;
	color: #000;
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	border-bottom: 8px solid #ccc;
}

h1, h2, h3, h4 {
	font-family: Vollkorn, serif;
}

div#header h1 {
	font-size: 40px;
	color: #444;
}

label {
	display: block;
	font-weight: bold;
	font-size: 14px;
}

#footer {
	margin: 6px 0;
} 

form {
	margin: 20px 0;
	padding: 12px;
	border: 1px solid #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

form h2 {
  margin: 10px 0;
}

textarea {
	width: 99%;
	height: 3em;
	margin: 5px 0;
}

ul {
  margin: 10px 0;
}

ul li{
  margin: 5px 0;
}

ul.grid li {
  float:left;
  height: 120px;
  width: 136px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 0;
  margin-top: 2px;
  margin-right: 2px;
}

ul.grid li h4 {
  margin-top: 3px;
  font-family: Verdana;
  font-size: 11px;
}
